{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Baudelaire</h1>
            </div>
            <a href="{{path("sonata_admin_redirect")}}">Admin Dashboard</a>
        </div>
    </div>
{% endblock %}
